<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="25">
    <title>API Data Display</title>
    <!-- Include the JavaScript file -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/flags.js') }}" type="module"></script>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <div class="button-container">
        <!-- Button to trigger dialog -->
        <button onclick="showInputDialog('login')">Login</button>
        <button onclick="showInputDialog('key')">Key</button>
    </div>
    <table id="appTable">
        <thead>
            <tr>
                <th>City</th>
                <th>Temperature</th>
                <th>Response Time</th>
            </tr>
        </thead>
        <tbody id="appBody"></tbody>
    </table>
</body>
<script type="text/javascript">
    // Function to show input dialog with context
    function showInputDialog(context) {
        const userInput = prompt(`Enter your ${context}:`);
        if (userInput !== null) {
            alert(`You entered ${context}: ${userInput}`);

            // Set global variables based on context
            if (context === 'login') {
                user = userInput;

                // Update localStorage only for "login" context
                localStorage.setItem('user', user);
            } else if (context === 'key') {
                key = userInput;

                // Update localStorage only for "key" context
                localStorage.setItem('key', key);
            }
        }
    }

</script>
</html>